Repository amblelabs/superhero, pull requests merged in 2025-07, with the labels that each got.

#38 Batman 66 Suit
  .github/workflows/publish_beta_discord.yml
  src/main/java/mc/duzo/timeless/mixin/EnchantmentHelperMixin.java
  src/main/java/mc/duzo/timeless/power/PowerRegistry.java
  src/main/java/mc/duzo/timeless/suit/Suit.java
  src/main/java/mc/duzo/timeless/suit/batman/BatmanSuit.java
  src/main/java/mc/duzo/timeless/suit/batman/item/BatmanSuitItem.java
  src/main/java/mc/duzo/timeless/suit/batman/sixer/Batman66Suit.java
  src/main/java/mc/duzo/timeless/suit/batman/sixer/client/model/Batman66Model.java
  src/main/java/mc/duzo/timeless/suit/client/render/SuitFeature.java
  src/main/java/mc/duzo/timeless/suit/client/render/SuitModel.java
  src/main/java/mc/duzo/timeless/suit/set/SetRegistry.java
  src/main/java/mc/duzo/timeless/suit/set/SuitSet.java
  src/main/resources/assets/timeless/textures/suit/batman_66.png
  versioning.gradle
Labels: enhancement

#42 Bat Radio
  src/main/java/mc/duzo/timeless/core/TimelessItems.java
  src/main/java/mc/duzo/timeless/datagen/TimelessDataGenerator.java
  src/main/java/mc/duzo/timeless/item/BatRadioItem.java
  src/main/resources/assets/timeless/models/item/bat_radio.json
  src/main/resources/assets/timeless/sounds/mark_5_noises.ogg
  src/main/resources/assets/timeless/textures/item/bat_radio.png
Labels: A: Datagen, C: Audio, C: Textures, S: Untriaged

#44 ci: remove spotless
  build.gradle
Labels: C: No Java, S: Untriaged

#43 fix: all superhero items are now in the item group
  src/main/java/mc/duzo/timeless/Timeless.java
  src/main/java/mc/duzo/timeless/core/TimelessItems.java
Labels: S: Untriaged

#48 refactor(register): No more inner class from the ClientRegister
  src/main/java/mc/duzo/timeless/client/TimelessClient.java
  src/main/java/mc/duzo/timeless/client/render/TimelessAnimations.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/sentry/SentryAnimation.java
Labels: S: Untriaged

#49 feat(suit): per slot rendering
  src/main/java/mc/duzo/timeless/client/gui/JarvisGui.java
  src/main/java/mc/duzo/timeless/client/gui/UtilityBeltGui.java
  src/main/java/mc/duzo/timeless/core/items/SuitItem.java
  src/main/java/mc/duzo/timeless/mixin/EntityMixin.java
  src/main/java/mc/duzo/timeless/mixin/client/PlayerEntityRendererMixin.java
  src/main/java/mc/duzo/timeless/suit/Suit.java
  src/main/java/mc/duzo/timeless/suit/batman/sixer/client/model/Batman66Model.java
  src/main/java/mc/duzo/timeless/suit/client/render/SuitFeature.java
  src/main/java/mc/duzo/timeless/suit/client/render/SuitModel.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/GenericIronManModel.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/sentry/SentryAnimation.java
  src/main/java/mc/duzo/timeless/suit/ironman/mk5/client/MarkFiveModel.java
Labels: S: Untriaged

#54 build(modkit): 1.1.9
  build.gradle
  gradle.properties
Labels: C: No Java, S: Untriaged

#55 codeowners
  .github/CODEOWNERS
  .github/workflows/CODEOWNERS
  libs/animator-sources.jar
  libs/animator.jar
  src/main/resources/fabric.mod.json
Labels: C: No Java, S: Untriaged

#58 Refactor Flight
  src/main/java/mc/duzo/timeless/core/items/SuitItem.java
  src/main/java/mc/duzo/timeless/power/Power.java
  src/main/java/mc/duzo/timeless/power/PowerRegistry.java
  src/main/java/mc/duzo/timeless/power/impl/BoostedFlightPower.java
  src/main/java/mc/duzo/timeless/power/impl/FlightPower.java
  src/main/java/mc/duzo/timeless/suit/api/FlightSuit.java
  src/main/java/mc/duzo/timeless/suit/ironman/IronManSuit.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/GenericIronManModel.java
  src/main/java/mc/duzo/timeless/suit/ironman/mk2/MarkTwoSuit.java
  src/main/java/mc/duzo/timeless/suit/ironman/mk3/MarkThreeSuit.java
  src/main/java/mc/duzo/timeless/suit/ironman/mk5/MarkFiveSuit.java
  src/main/java/mc/duzo/timeless/suit/ironman/mk7/MarkSevenSuit.java
Labels: S: Untriaged

#60 Sentry Mode Improvements
  src/main/java/mc/duzo/timeless/client/TimelessClient.java
  src/main/java/mc/duzo/timeless/client/render/entity/IronManEntityRenderer.java
  src/main/java/mc/duzo/timeless/core/TimelessEntityTypes.java
  src/main/java/mc/duzo/timeless/suit/ironman/IronManEntity.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/GenericIronManModel.java
  src/main/java/mc/duzo/timeless/suit/ironman/client/sentry/SentryAnimation.java
Labels: S: Untriaged

#50 Moon Knight
  build.gradle
  src/main/java/mc/duzo/timeless/Timeless.java
  src/main/java/mc/duzo/timeless/client/TimelessClient.java
  src/main/java/mc/duzo/timeless/client/render/TimelessAnimations.java
  src/main/java/mc/duzo/timeless/client/render/entity/BaseRangEntityRenderer.java
  src/main/java/mc/duzo/timeless/core/TimelessEntityTypes.java
  src/main/java/mc/duzo/timeless/core/TimelessItems.java
  src/main/java/mc/duzo/timeless/core/entities/BaseRangEntity.java
  src/main/java/mc/duzo/timeless/core/items/MoonTotemItem.java
  src/main/java/mc/duzo/timeless/core/items/RangItem.java
  src/main/java/mc/duzo/timeless/power/PowerRegistry.java
  src/main/java/mc/duzo/timeless/power/impl/CapeTogglePower.java
  src/main/java/mc/duzo/timeless/power/impl/GlidePower.java
  src/main/java/mc/duzo/timeless/suit/api/CapedSuit.java
  src/main/java/mc/duzo/timeless/suit/batman/item/BatmanSuitItem.java
  src/main/java/mc/duzo/timeless/suit/client/render/SuitFeature.java
  src/main/java/mc/duzo/timeless/suit/moonknight/MoonKnightSuit.java
  src/main/java/mc/duzo/timeless/suit/moonknight/cape/client/animations/MoonKnightAnimations.java
  src/main/java/mc/duzo/timeless/suit/moonknight/item/MoonKnightSuitItem.java
  src/main/java/mc/duzo/timeless/suit/moonknight/jake/JakeSuit.java
  src/main/java/mc/duzo/timeless/suit/moonknight/jake/client/model/JakeModel.java
  src/main/java/mc/duzo/timeless/suit/moonknight/marc/MarcSuit.java
  src/main/java/mc/duzo/timeless/suit/moonknight/marc/client/model/MoonKnightModel.java
  src/main/java/mc/duzo/timeless/suit/moonknight/steven/StevenSuit.java
  src/main/java/mc/duzo/timeless/suit/moonknight/steven/client/model/StevenModel.java
  src/main/java/mc/duzo/timeless/suit/set/SetRegistry.java
  src/main/resources/assets/timeless/models/item/alternate/moon_totem.json
  src/main/resources/assets/timeless/models/item/moon_dart.json
  src/main/resources/assets/timeless/models/item/moon_knight_marc_chestplate.json
  src/main/resources/assets/timeless/models/item/moon_totem.json
  src/main/resources/assets/timeless/textures/item/moon_dart.png
  src/main/resources/assets/timeless/textures/item/moon_knight_marc_chestplate.png
  src/main/resources/assets/timeless/textures/item/moon_totem.png
  src/main/resources/assets/timeless/textures/item/moon_totem_pulsate.png
  src/main/resources/assets/timeless/textures/item/moon_totem_pulsate.png.mcmeta
  src/main/resources/assets/timeless/textures/suit/moon_knight_jake.png
  src/main/resources/assets/timeless/textures/suit/moon_knight_marc.png
  src/main/resources/assets/timeless/textures/suit/moon_knight_marc_emission.png
  src/main/resources/assets/timeless/textures/suit/moon_knight_steven.png
  src/main/resources/assets/timeless/textures/suit/moon_knight_steven_emission.png
  src/main/resources/fabric.mod.json
  src/main/resources/timeless.accesswidener
Labels: C: Textures, S: Untriaged
